@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body,div,a,ul,li,img,table,tr,td,header,footer,h1,h2,h3,h4,input,select,textarea{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $gray;
	font-family: "Noto Sans TC", serif;
	list-style: none;
	border: none;
	border-collapse: collapse;
	outline: none;
}